@model Adventure14.Models.ProductDescriptionViewModel

@{
    ViewBag.Title = "ProductDetail";
}


<h2>ProductDetail</h2>

<div>
    <h4>ProductDescription</h4>
    <hr />
    <div class="container">
        @{
            string str = Convert.ToBase64String(Model.ProductPhoto.LargePhoto);
            string imgstr = String.Format("data:/img/gif;base64,{0}", str);
        }
        <div><img src="@imgstr" class="col-sm-12 col-md-12 col-lg-12" /></div>
    </div>
    <br/>
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription.Description)
        </dt>

        <dd>
            @{
                if (Model.ProductDescription == null)
                {
                   <p class="text-danger">There is no description for this Item yet</p>
                }
            }
            @Html.DisplayFor(model => model.ProductDescription.Description)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Write a review", "Review", new { id = Model.Product.ProductID }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Reviews", "Reviews", new { id = Model.Product.ProductID }, new { @class = "btn btn-success" })
</p>
<br/>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>

