@model IEnumerable<Adventure14.Models.Product>

@{
    ViewBag.Title = "ProductItem";
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<h2>ProductItem</h2>
<div class="container">@Html.ActionLink("Back to Home", "Index")</div>

<table class="table">
    <tr>
        <th>
            Review
        </th>
        <th>
            Picture
        </th>
        <th>
            Product Model
        </th>
        <th>
            Subcategory
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishedGoodsFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafetyStockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandardCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysToManufacture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscontinuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rowguid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink("Review","Review",new {id = item.ProductID},new{@class="btn, btn-danger"})
        </td>
        
        <td>
            @{
                var str = Convert.ToBase64String(item.ProductProductPhotoes.SingleOrDefault().ProductPhoto.ThumbNailPhoto);
                var imgsrc = string.Format("data:img/gif; base64,{0}",str);
            }

        <a href="@Url.Action("ProductDetai","Product",new {id = item.ProductID, Mid = item.ProductModelID,})">
            <img src="@Url.Content(@imgsrc)"  /> 
        </a> 
        <td>
            @Html.DisplayFor(modelItem => item.ProductSubcategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitMeasure.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitMeasure1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishedGoodsFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReorderPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandardCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysToManufacture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscontinuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rowguid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>

    </tr>
}

</table>
