@model IEnumerable<Adventure14.Models.ProductReview>

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Back To Home", "Index")
</p>
<div class="container"><h3 class="text-danger">@ViewBag.message</h3></div>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        
        
    </tr>
}

</table>
